extends layout

block content
  h1= title
  form(method='get')
    input(type="text" name="search" value=search)
    input(type='submit' value='Szukaj')
  
  each item in data 
    article
      h1(classs='title')=item.title
      p(classs='date')=item.created
      p(classs='description')=item.description
